.a-tym__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.a-tym__player {
  margin-top: 16px;
  display: flex;
  max-width: 416px;
  width: 100%;
  align-items: center;
  &:hover {
    .a-tym__player-name {
      text-decoration: underline;
    }
    .a-tym__number {
      background-color: rgba(5, 34, 145, 0.75);
      opacity: 1;
    }
  }
}
.a-tym__player-link {
  width: 120px;
  height: 120px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
  }
}
.a-tym__number {
  transition: all 0.4s;
  width: 120px;
  height: 120px;
  opacity: 0;
  font-size: 56px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.a-tym__player-info {
  color: #878d96;
  font-size: 14px;
  line-height: 22px;
  margin-left: 24px;
  text-transform: uppercase;
}
.a-tym__player-name {
  font-size: 24px;
  line-height: 36px;
  color: $blue;
  display: block;
  text-transform: none;
}

@media (max-width: 1310px) {
  .a-tym__player {
    max-width: 360px;
  }
  .a-tym__box {
    justify-content: space-around;
  }
}
@media (max-width: 1241px) {
  .main.a-tym-page .container {
    padding: 0 15px;
  }
  .a-tym__box {
    justify-content: center;
  }
  .a-tym__player {
    max-width: 416px;
  }
}
