.clanky {
  padding: 64px 0;
  background-color: $blue;

  .btn {
    margin: 33px auto 0;
  }
}
.clanky__title {
  font-size: 20px;
  color: $yellow;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 32px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    height: 4px;
    width: 100%;
    background-image: url('../images/svg/menu-decorate-yellow.svg');
  }

  span {
    position: relative;
    z-index: 5;
    background-color: $blue;
    padding: 0 32px;
  }
}

.clanky__inner {
  display: flex;
  justify-content: space-between;
}

.clanek {
  max-width: 416px;
  text-align: center;
  &__box {
    img {
      width: 100%;
      height: 277px;
      display: block;
      object-fit: cover;
    }
  }
  .datum {
    position: relative;
    margin: 0 auto;
    top: -10px;
    margin-bottom: 3px;
  }
}

.clanek__title {
  font-size: 24px;
  line-height: 32px;
  padding: 0 16px;
  margin-bottom: 10px;
}
.clanek__text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 28px;
  padding: 0 16px;
}

@media (max-width: 1320px) {
  .clanek {
    width: 100%;
    margin: 0 10px;
  }
}
@media (max-width: 1060px) {
  .clanky__inner {
    flex-direction: column;
    align-items: center;
  }
  .clanek {
    margin-bottom: 40px;
    max-width: 600px;
  }
  .clanek__box img {
    height: 320px;
  }
}

@media (max-width: 480px) {
  .clanek__box img {
    height: 260px;
  }
  .clanek {
    margin-left: 0;
    margin-right: 0;
  }
}
