html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

body {
  // font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1406px;
}

.container-fluid {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 136px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include color;
  font-size: 16px;
  border-radius: 2px;
  &:hover {
    text-decoration: underline;
  }
}
.main {
  color: $black;
}
.main.a-tym-page {
  .main__inner {
    margin-bottom: 95px;
  }
  .main__content {
    margin-top: 40px;
  }
  .subtitle {
    text-transform: uppercase;
  }
}
.main__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.main__content {
  max-width: 896px;
  width: 100%;
}
.main__col {
  padding: 0 56px;
}

.title-page {
  font-size: 48px;
  line-height: 56px;
  color: $black;
  margin-bottom: 32px;
}
.title-page__text {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  margin-bottom: 32px;
}
.title {
  font-size: 32px;
  line-height: 40px;
  color: $black;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  color: $black;
}

.text {
  font-size: 18px;
  line-height: 32px;
  @include Barlow;
  color: $black;
  margin-bottom: 32px;
}


