// responsive

//// media 1600px ----------------------------
@media (max-width: 1600px) {
  .top__title.top__title--main {
    font-size: 36px;
    line-height: 44px;
  }
  .top__title {
    font-size: 28px;
    line-height: 34px;
    padding-right: 15px;
  }
  .top__content {
    margin-left: 25px;
  }
}
// media 1400 -----------
.main-video,
.tv-page__top {
  padding-right: 10px;
}

//// media 1360px ----------------------------
@media (max-width: 1360px) {
  .media__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fotogallery {
    margin-bottom: 40px;
  }
}

//// media 1320px ----------------------------
@media (max-width: 1320px) {
  .clanek {
    width: 100%;
    margin: 0 10px;
  }
}

//// media 1310px ----------------------------
@media (max-width: 1310px) {
  .a-tym__player {
    max-width: 360px;
  }
  .a-tym__box {
    justify-content: space-around;
  }
}

//// media 1300px ----------------------------
@media (max-width: 1300px) {
  .top__item {
    height: 300px;
  }
  .top__item.top__item--left {
    height: 600px;
  }
  .top__title.top__title--main {
    max-width: 900px;
  }
  .top__title {
    padding-right: 60px;
  }
}

//// media 1241px ----------------------------
@media (max-width: 1241px) {
  .archiv-page,
  .tabulka-page {
    .main__content {
      max-width: 900px;
      padding: 0 10px;
    }
  }
  .main.a-tym-page .container {
    padding: 0 15px;
  }
  .a-tym__box {
    justify-content: center;
  }
  .a-tym__player {
    max-width: 416px;
  }
}

//// media 1240px ----------------------------
@media (max-width: 1240px) {
  .main.gallery-page {
    .aside {
      margin-left: 30px;
    }
    .container {
      padding: 0 15px;
    }
    .main__inner {
      flex-wrap: nowrap;
    }
  }
  .main-hrac {
    .main__col {
      margin-left: 30px;
    }
  }
  .main.main-zapasy {
    .container {
      padding: 0 15px;
    }
    .main__inner {
      flex-wrap: nowrap;
    }
    .aside {
      margin-left: 30px;
    }
  }
  .main .container {
    padding: 0;
  }
  .main__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__content {
    max-width: 100%;
  }
  .main__col {
    max-width: 896px;
    margin: 0 auto;
  }
  .aside {
    margin-left: 0;
  }
}

//// media 1220px ----------------------------
@media (max-width: 1220px) {
  .zapas-item__info {
    .zapas__btn {
      justify-content: start;
    }
  }
  .zapasy__inner {
    flex-wrap: wrap;
  }
  .zapas {
    max-width: 50%;
    width: 50%;
    margin: 0;
    margin-bottom: 60px;
  }
  .zapas__btn {
    justify-content: center;
  }
}

//// media 1140px ----------------------------
@media (max-width: 1140px) {
  .main__content {
    max-width: 900px;
    padding: 0 10px;
  }
  .main.main-zapasy .aside {
    margin-left: 0;
  }
  .main.main-zapasy .main__inner {
    flex-wrap: wrap;
  }
}

//// media 1060px ----------------------------
@media (max-width: 1060px) {
  .main.gallery-page {
    .aside {
      margin-left: 0;
    }
    .container {
      padding: 0 15px;
    }
    .main__inner {
      flex-wrap: wrap;
    }
  }
  .clanky__inner {
    flex-direction: column;
    align-items: center;
  }
  .clanek {
    margin-bottom: 40px;
    max-width: 600px;
  }
  .clanek__box img {
    height: 320px;
  }
}

//// media 1040px ----------------------------
@media (max-width: 1040px) {
  .top__title.top__title--main {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
  }
  .top__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

//// media 920px ----------------------------
@media (max-width: 920px) {
  .tv-page__top {
    .select__redirect {
      width: 250px;
    }
  }
  .video__box {
    flex: 0 50%;
  }
  .tabulka-page {
    .main__content {
      padding: 0 20px;
    }
  }
  .select__box {
    max-width: 100%;
  }
  .select__redirect {
    max-width: 100%;
  }
  .fotogallery__inner {
    width: 100%;
    justify-content: center;
  }
  .fotogallery__item {
    max-width: 600px;
  }
}

//// media 900px ----------------------------
@media (max-width: 900px) {
  .top__item {
    max-width: 100%;
  }
  .top__item-box {
    display: flex;
    width: 100%;
  }
  .top__item.top__item--left {
    width: 100%;
    max-width: 100%;
    height: 400px;
  }
  .top__inner {
    flex-wrap: wrap;
  }
}

//// media 883px ----------------------------
@media (max-width: 883px) {
  .main-hrac__feature {
    font-size: 18px;
  }
  .main-hrac__box {
    padding: 25px 0;
    width: 82%;
  }
  .main-hrac__name {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .main__img {
    height: 440px;
  }
  .gallery__inner {
    justify-content: center;
    a {
      margin: 5px;
    }
  }
}

//// media 800px ----------------------------
@media (max-width: 800px) {
  .title-page {
    font-size: 40px;
    line-height: 50px;
  }
  .main__col {
    padding: 0 30px;
  }
}

//// media 750px ----------------------------

@media (max-width: 750px) {
  .zapas-item__num {
    font-size: 40px;
  }
  .zapas-item__teams {
    display: none;
  }
  .footer__menu {
    flex-wrap: wrap;
  }
  .footer__list {
    margin-bottom: 10px;
  }
}

//// media 700px ----------------------------
@media (max-width: 700px) {
  .title-page {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .top__content {
    margin-left: 15px;
  }
  .top__item-box {
    flex-wrap: wrap;
  }
  .top__item.top__item--left {
    height: 350px;
  }
  .top__title.top__title--main {
    font-size: 28px;
    line-height: 30px;
  }
}

//// media 680px ----------------------------
@media (max-width: 680px) {
  .zapas {
    width: 100%;
    max-width: 100%;
  }
  #botr_fzrQeqcU_AuJ7dosR_div .jw-display-icon-container .jw-button-color {
    width: 60px;
    height: 60px;
  }
  .jw-breakpoint-2 .jw-display .jw-icon,
  .jw-breakpoint-3 .jw-display .jw-icon,
  .jw-breakpoint-2 .jw-display .jw-svg-icon,
  .jw-breakpoint-3 .jw-display .jw-svg-icon {
    width: 30px;
    height: 30px;
  }
  .tv-page__top {
    flex-direction: column;
    align-items: start;
  }
  .main-video h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .video__box {
    flex: 100%;
  }
  .main-video,
  .tv-page__top {
    padding-right: 0;
  }
  .video__item {
    padding: 0;
  }
}

//// media 620px ----------------------------
@media (max-width: 620px) {
  .main.gallery-page {
    .main__content {
      padding: 0;
    }
  }
  .archive-article {
    .archiv__item {
      flex-wrap: wrap;
    }
  }
  .tabl__subtitle,
  .tabl__list {
    margin-left: 20px;
  }
  .tabulka-page {
    .main__content {
      padding: 0 15px;
    }
  }
  .table__inner {
    overflow: auto;
    .tabl {
      width: 560px;
    }
  }
  .archiv__info {
    padding: 20px;
    .text {
      margin-bottom: 10px;
    }
  }
  .archiv__item {
    padding-right: 0;
  }
  .archiv__img {
    margin-right: 0;
    max-width: 100%;
    height: 300px;
  }
  .archiv__item-link {
    flex-wrap: wrap;
  }
  .select__redirect {
    margin-bottom: 15px;
  }
  .select__redirect + .select__redirect {
    margin-left: 0;
  }
  .select__box {
    flex-wrap: wrap;
    .btn {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .text.main-hrac__link {
    padding-left: 25px;
    &::before {
      left: 0;
    }
  }
  .main-hrac .main__col {
    margin-left: 0;
  }
  .main-hrac__wrapper .main__img {
    margin-bottom: 200px;
  }
  .main-hrac__box {
    width: 100%;
    position: relative;
    transform: translateY(0);
  }
  .title-page {
    font-size: 32px;
    line-height: 38px;
  }
  .main__img {
    height: 350px;
  }
  .arcticle__video {
    height: 360px;
  }
}
//// media 520px ----------------------------
@media (max-width: 520px) {
  .zapas-item__info .zapas__club {
    font-size: 20px;
    line-height: 20px;
  }
  .zapas-item__info .zapas__club span {
    display: block;
  }
}

//// media 480px ----------------------------
@media (max-width: 480px) {
  .clanek__box img {
    height: 260px;
  }
  .clanek {
    margin-left: 0;
    margin-right: 0;
  }
  .top__title {
    padding-right: 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .top__title.top__title--main {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 26px;
  }
  .gallery__inner a {
    width: 100%;
    height: 200px;
  }
  .fotogallery__item {
    height: 260px;
  }
  .fotogallery__title {
    font-size: 22px;
  }
  .fotogallery__content {
    bottom: 10px;
    margin-left: 15px;
  }
  .tabulka .number {
    padding-left: 0;
    padding-right: 0;
    width: 25px;
  }
  .tabulka .team {
    width: 220px;
  }
}

//// media 420px ----------------------------
@media (max-width: 420px) {
  .main-hrac__feature {
    font-size: 15px;
  }
  .main-hrac__feature span {
    width: 63px;
  }
  .main-hrac__box {
    padding: 10px 0 15px;
  }
  .main-hrac__name {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .main__col {
    padding: 0 15px;
  }

  .title-page {
    font-size: 26px;
    line-height: 34px;
  }
  .actually__title,
  .actually.actually--main .actually__title {
    padding: 0 15px;
  }
  .main__img {
    height: 300px;
  }

  .arcticle__video {
    height: 270px;
  }
}
//// media 400px ----------------------------
@media (max-width: 400px) {
  .tabulka .zapasy {
    width: 25px;
  }
  .tabulka .team {
    width: 200px;
  }
  .tabulka td {
    padding-right: 5px;
  }
  .tabulka td.point {
    padding-right: 0;
  }
}

//// media 360px ----------------------------
@media (max-width: 360px) {
  .main__info {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
  .main__info-item {
    margin-bottom: 5px;
  }
}
