$blue: #052291;
$yellow: #ffec00;
$black: #121619;
$gray: #878d96;

@mixin Barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}
@mixin color {
  background-color: $yellow;
  color: $blue;
}
