.zapasy {
  margin-bottom: 64px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.zapas {
  max-width: 296px;
  margin: 0 8px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  &__title {
    font-size: 14px;
    margin-bottom: 19px;
  }
}
.zapas__logos {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.zapas__logo {
  height: 96px;
  width: 96px;
  img {
    width: 96px;
    max-height: 96px;
    display: block;
    object-fit: contain;
  }
}
.zapas__logo + .zapas__logo {
  margin-left: 8px;
}

.zapas__club {
  font-size: 24px;
  line-height: 32px;
}
.zapas__info {
  color: $blue;
  font-size: 56px;
  margin-top: 7px;
  margin-bottom: 16px;
}
.zapas__btn {
  display: flex;
  .btn + .btn {
    margin-left: 8px;
  }
}

@media (max-width: 1220px) {
  .zapasy__inner {
    flex-wrap: wrap;
  }
  .zapas {
    max-width: 50%;
    width: 50%;
    margin: 0;
    margin-bottom: 60px;
  }
  .zapas__btn {
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .zapas {
    width: 100%;
    max-width: 100%;
  }
}
