@import 'vars';
@import 'global';
@import 'header';

// partneri-page start ------------------
.partneri-page {
  margin-top: 40px;
  margin-bottom: 100px;
  .title {
    border-bottom: 2px solid $yellow;
    display: inline-block;
    margin-bottom: 20px;
  }
}
.partneri-page__inner {
  margin-bottom: 50px;
}
.partneri-page__main-link.partneri-page__link {
  width: 100%;
  height: 300px;
  max-width: 600px;
}
.partneri-page__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.partneri-page__link {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: block;
  border-radius: 16px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 16px;
  }
}
.partneri-page__box.partneri-page__box-vip {
  .partneri-page__link {
    height: 260px;
    width: 600px;
  }
}
.partneri-page__box.partneri-page__box-partner {
  .partneri-page__link {
    height: 200px;
    width: 300px;
  }
}

/// partneri-page end ---------------------

/// main zapasy page start -----------------------------
.main.main-zapasy {
  .main__content {
    margin-top: 41px;
  }
  .subtitle {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}
.zapas-item {
  display: flex;
  padding-bottom: 17px;
}
.zapas-item__teams {
  display: flex;
  max-width: 120px;
  width: 100%;
  justify-content: space-between;
  margin-right: 16px;
  img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
}
.zapas-item__box {
  width: 100%;
  display: flex;
}
.zapas-item__date {
  color: $gray;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}
.zapas-item__info {
  padding-top: 2px;
  .zapas__club {
    margin-bottom: 8px;
    padding-top: 2px;
    .pisek {
      color: $blue;
    }
  }
  .zapas__btn {
    a {
      font-size: 14px;
      width: 64px;
      height: 22px;
    }
  }
}
.zapas-item__num {
  color: $black;
  font-size: 48px;
  line-height: 56px;
  &.win {
    color: $green;
  }
  &.dh {
    color: $gray;
  }
  &.losing {
    color: $red;
  }
}
.main-zapasy__inner-btn {
  background-color: #f2f4f8;
  padding: 10px 16px;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 28px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;

  a {
    position: relative;
    padding: 0;
    border: none;
    @include Barlow;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    &:hover {
      text-decoration: none;
    }
  }
  a + a {
    padding-left: 6px;
    &::before {
      content: '|';
      left: 0;
      position: absolute;
    }
  }
}
.main-zapasy__inner {
  .zapas-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #dde1e6;
  }
}

/// main zapasy page end -----------------------------

/// clanky start ---------------------------
.clanky {
  padding: 64px 0;
  background-color: $blue;

  .btn {
    margin: 33px auto 0;
  }
}
.clanky__title {
  font-size: 20px;
  color: $yellow;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 32px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    height: 4px;
    width: 100%;
    background-image: url('../images/svg/menu-decorate-yellow.svg');
  }

  span {
    position: relative;
    z-index: 5;
    background-color: $blue;
    padding: 0 32px;
  }
}

.clanky__inner {
  display: flex;
  justify-content: space-between;
}

.clanek {
  max-width: 416px;
  text-align: center;
  &__box {
    img {
      width: 100%;
      height: 277px;
      display: block;
      object-fit: cover;
    }
  }
  .datum {
    position: relative;
    margin: 0 auto;
    top: -10px;
    margin-bottom: 3px;
  }
}

.clanek__title {
  font-size: 24px;
  line-height: 32px;
  padding: 0 16px;
  margin-bottom: 10px;
}
.clanek__text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 28px;
  padding: 0 16px;
  color: #fff;
}

/// clanky end ---------------------------------

/// zapasy start ----------------------------
.zapasy {
  margin-bottom: 64px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.zapas {
  max-width: 296px;
  margin: 0 8px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  &__title {
    font-size: 14px;
    margin-bottom: 19px;
  }
}
.zapas__logos {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.zapas__logo {
  height: 96px;
  width: 96px;
  img {
    width: 96px;
    max-height: 96px;
    display: block;
    object-fit: contain;
  }
}
.zapas__logo + .zapas__logo {
  margin-left: 8px;
}

.zapas__club {
  font-size: 24px;
  line-height: 32px;
}
.zapas__info {
  color: $blue;
  font-size: 56px;
  margin-top: 7px;
  margin-bottom: 16px;
}
.zapas__btn {
  display: flex;
  .btn + .btn {
    margin-left: 8px;
  }
}

/// zapasy end -----------------------------
/// partners start -------------------------
.partners__link {
  width: 176px;
  height: 96px;
  display: block;
  margin: 16px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2px;
  }
}
.partners__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__title {
  font-size: 20px;
  color: $black;
  line-height: 28px;
  position: relative;
  text-align: center;
  margin-bottom: 16px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 13px;
    height: 4px;
    background-image: url('../images/svg/menu-decorate-black.svg');
  }
  span {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 56px;
  }
}

.partner__title {
  color: $gray;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.partners {
  margin-bottom: 108px;
}

//// partners end ------------------------------

/// top section start ---------------------------------
.top {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 69px;

  &__inner {
    display: flex;
  }
}
.top__item {
  max-width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 350px;
  width: 100%;

  &-box {
    width: 40%;
  }

  &::before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, rgba(2, 13, 56, 0) 21%, rgba(2, 13, 56, 0.95));
    box-shadow: inset -1px 0 0 0 #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.top__item.top__item--left {
  max-width: 60%;
  height: 700px;
}
.top__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  z-index: 3;
  margin-left: 32px;
  text-transform: uppercase;
}

.top__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 31px;
  margin-top: 8px;
  padding-right: 32px;
}
.top__title.top__title--main {
  font-size: 40px;
  line-height: 48px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.datum {
  @include color;
  width: 72px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 2px;
}

///// top section end ---------------------------------
/// a-tym start ---------------------------------------
.a-tym__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.a-tym__player {
  margin-top: 16px;
  display: flex;
  max-width: 416px;
  width: 100%;
  align-items: center;
  &:hover {
    .a-tym__player-name {
      text-decoration: underline;
    }
    .a-tym__number {
      background-color: rgba(5, 34, 145, 0.75);
      opacity: 1;
    }
  }
}
.a-tym__player-link {
  width: 120px;
  height: 120px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
  }
}
.a-tym__number {
  transition: all 0.4s;
  width: 120px;
  height: 120px;
  opacity: 0;
  font-size: 56px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.a-tym__player-info {
  color: #878d96;
  font-size: 14px;
  line-height: 22px;
  margin-left: 24px;
  text-transform: uppercase;
}
.a-tym__player-name {
  font-size: 24px;
  line-height: 36px;
  color: $blue;
  display: block;
  text-transform: none;
}

/// a-tym end -----------------------------------------

/// media section start ------ ------- -------------- -----------
.media {
  margin: 64px 0;
  .btn {
    margin: 0 auto;
  }
}
.media__inner {
  display: flex;
  justify-content: space-between;
}
.fotogallery {
  max-width: 896px;
  width: 100%;
}
.table {
  max-width: 416px;
  width: 100%;
}

.media__title {
  font-size: 20px;
  color: $black;
  line-height: 28px;
  position: relative;
  text-align: center;
  margin-bottom: 32px;
  span {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 42px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 13px;
    left: 0;
    background-image: url('../images/svg/menu-decorate-black.svg');
  }
}

// fotogallery ------------------------
.fotogallery__inner {
  display: flex;
  flex-wrap: wrap;
  width: 896px;
  margin-bottom: 33px;
}
.fotogallery__item {
  position: relative;
  max-width: 448px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  &::before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, rgba(2, 13, 56, 0) 21%, rgba(2, 13, 56, 0.95));
    box-shadow: inset -1px 0 0 0 #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.fotogallery__content {
  position: absolute;
  bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  z-index: 3;
}
.fotogallery__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
}
// tabulka --------------------------------
.tabulka {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 32px;
  tr {
    border-bottom: 1px solid #dde1e6;
  }
  th {
    color: $gray;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    padding-bottom: 3px;
  }
  td {
    color: $black;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    padding: 9px 0;
  }
  td.point {
    font-weight: 600;
  }
  .pisek td {
    font-weight: 600;
  }
  .number {
    width: 46px;
    padding: 0 16px;
  }
  .team {
    width: 241px;
    padding-right: 10px;
  }
  .zapasy {
    width: 39px;
    padding-right: 9px;
  }
}
/// hrac detail start ------------------------
.main-hrac__wrapper {
  position: relative;
  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .main__img {
    position: relative;
    margin-bottom: 130px;
  }
  .subtitle {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}
.text.main-hrac__link {
  margin-bottom: 0;
  padding-left: 35px;
  position: relative;
  display: block;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '•';
    position: absolute;
    left: 10px;
    width: 4px;
    height: 4px;
  }
}
.main-hrac__box {
  padding: 32px 0;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  text-align: center;
  background-color: $blue;
  width: 87%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main-hrac__name {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 33px;
}
.main-hrac__info {
  display: flex;
  justify-content: center;
}
.main-hrac__feature {
  max-width: 176px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  width: 100%;

  span {
    margin: 0 auto;
    margin-bottom: 12px;
    @include color;
    width: 72px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 12px;
  }
}

/// hrac detail end -----------------------

/// media section end ------ ------- -------------- -----------

.main__img {
  width: 100%;
  margin-bottom: 33px;
  height: 596px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// article start --------------------------------------------------------

.arcticle__video {
  max-width: 784px;
  width: 100%;
  height: 522px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 32px;
}
.article__title-bottom {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.article__title-descr {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.main__info {
  border-top: 1px solid #dde1e6;
  width: 100%;
  display: flex;
  padding-top: 33px;
  font-size: 14px;
  @include Barlow;
  line-height: 22px;
}

.main__datum {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 16px;
    background-image: url('../images/svg/calendar.svg');
  }
}
.main__info-item {
  position: relative;
  padding-left: 24px;
  margin-right: 16px;
}
.main__user {
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    top: 2px;
    background-image: url('../images/svg/user.svg');
  }
}
.main__fotograf {
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 14px;
    background-image: url('../images/svg/camera.svg');
  }
}

// article end --------------------------------------------------------

// zapas-page start --------------------------------------------------------
.zapas-page__box {
  border: 1px solid #dde1e6;
  padding-top: 32px;
  padding: 32px;
  text-align: center;
  margin-bottom: 32px;
  &-title {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &-logos {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  &-logo {
    height: 96px;
    width: 96px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-team {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
  }
  &-result {
    margin-top: 8px;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 32px;
  }
  &-info.zapas-page__box-info--bordered {
    border-top: 1px solid #dde1e6;
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 16px;
  }
  &-info {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    @include Barlow;
    padding-top: 16px;
    span {
      font-weight: 700;
    }
  }
}
.zapas-page__box-logo + .zapas-page__box-logo {
  margin-left: 8px;
}
.gallery {
  margin-bottom: 27px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
  }
  a {
    width: 193px;
    height: 193px;
    margin-bottom: 4px;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// zapas-page end --------------------------------------------------------

// aside-col  start :) ----*---*--------*------***---------
.aside {
  max-width: 416px;
  width: 100%;
  padding-top: 41px;
  margin-left: 30px;
  &__title {
    width: 100%;
    position: relative;
    font-size: 20px;
    line-height: 28px;
    color: $black;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/svg/menu-decorate-black.svg');
      width: 100%;
      height: 4px;
      left: 0;
      top: 13px;
    }
    span {
      background-color: #fff;
      padding: 0 52px;
      position: relative;
    }
  }
}
.actually__img {
  width: 100%;
  height: 277px;
  margin-bottom: 23px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
.actually.actually--main {
  margin-top: 16px;
  position: relative;
  .datum {
    position: absolute;
    top: 267px;
    left: 0;
    right: 0;
  }
  .actually__title {
    font-size: 24px;
    line-height: 32px;
    padding: 0 35px;
  }
}
.actually {
  border-bottom: 1px solid #dde1e6;
  padding-bottom: 15px;
  margin-bottom: 16px;
  width: 100%;
  .datum {
    margin: 0 auto;
    margin-bottom: 12px;
  }
}
.actually__title {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  font-size: 20px;
  line-height: 28px;
}
.aside__menu {
  width: 100%;
  margin-bottom: 32px;
  &-box {
    display: flex;
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 8px;
    margin-bottom: 8px;
    span {
      font-size: 16px;
      color: #878d96;
      @include Barlow;
      margin-left: 8px;
      text-decoration: none;
      line-height: 28px;
    }
  }
  &-link {
    display: block;
    padding-left: 28px;
    position: relative;
    color: $blue;
    line-height: 28px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/svg/menu-decorate-black.svg');
      left: 16px;
      top: 12px;
      width: 4px;
      height: 4px;
    }
  }
}
/// aside end ----------------------------------------

/// footer start -----------------------------------------
.footer {
  background-color: $blue;
  &__inner {
    text-align: center;
    padding-bottom: 35px;
  }
}

.footer__logo {
  position: relative;
  top: -90px;
  background-color: #fff;
  border-radius: 50%;
  width: 142px;
  height: 158px;
  margin: 0 auto;
  img {
    position: absolute;
    left: -19px;
    top: 4px;
    display: block;
    width: 180px;
  }
}

.footer__nav {
  margin-top: -55px;
  margin-bottom: 26px;
}
.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__list + .footer__list {
  position: relative;
  padding-left: 14px;
  margin-left: 16px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 4px;
    background-image: url('../images/svg/menu-decorate-yellow.svg');
    background-repeat: no-repeat;
  }
}

.footer {
  .social {
    justify-content: center;
    margin-bottom: 24px;
  }
  .social__link {
    margin: 0 9px;
  }
}

.footer__copyright {
  @include Barlow;
  font-size: 12px;
}
/// footer end -----------------------------------------------

//archiv-page ----------------------------------
.archiv-page.main {
  .main__content {
    margin-top: 41px;
  }
}
.form {
  padding-bottom: 30px;
  border-bottom: 1px solid #dde1e6;
  margin-bottom: 20px;
}

.select__box {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
  .input {
    width: 100%;
    border: 2px solid $yellow;
    border-radius: 4px;
    padding: 0 15px;

    outline: none;
    font-size: 18px;
    line-height: 32px;
    @include Barlow;
    color: $black;
    &:focus {
      border: 2px solid $yellow;
    }
  }
  .btn {
    margin-left: 50px;
    max-width: 136px;
    width: 100%;
  }
}
.select__redirect {
  cursor: pointer;
  display: block;
  background-color: $yellow;
  max-width: 250px;
  width: 100%;
  color: $blue;
  margin-bottom: 30px;
  border-radius: 4px;
}
.select__redirect + .select__redirect {
  margin-left: 50px;
}
.jq-selectbox__select-text {
  width: 100% !important;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 15px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 15px;
    width: 10px;
    height: 15px;
    background-image: url('../images/svg/arrow-filtr.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 10px;
  }
}

.jq-selectbox__dropdown {
  background-color: #fff;
  color: $blue;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 0 0 4px 4px;
  text-align: center;
  width: 100% !important;
  left: 0;
  top: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.jq-select-multiple li,
.jq-selectbox li {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  text-align: left;
  @include Barlow;
  padding: 8px 10px;
  &:hover {
    background-color: $yellow;
    border-radius: 4px;
  }
}

.archiv__item {
  padding: 30px 20px 30px 0;
  border-bottom: 1px solid #dde1e6;
  &:hover {
    .archiv__title {
      text-decoration: underline;
    }
  }
  &-link {
    display: flex;
  }
  .datum {
    margin-bottom: 10px;
  }
  .text {
    line-height: 26px;
  }
  .archiv__title {
    margin-bottom: 10px;
  }
}
.archiv__title {
  text-transform: uppercase;
  color: #052291;
  font-size: 20px;
  line-height: 28px;
}
.archiv__img {
  max-width: 240px;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  margin-right: 20px;
}

// archiv-page ned

// tabulka pag ---------------------

.tabulka-page {
  .main__content {
    margin-top: 41px;
  }
}
.tabl {
  border-collapse: collapse;
  width: 100%;
  tr th:first-child {
    padding: 8px 0 8px 16px;
  }
  tr th.poradi,
  tr th.tym {
    text-align: left;
  }
  td.tym {
    padding: 0;
    padding-left: 40px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 5px 8px;
    white-space: nowrap;
    text-align: left;
  }
  tr th {
    font-family: 'Barlow', sans-serif;
    background: #eceff1;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 600;
    text-align: center;
    color: #05090c;
    padding: 0;
    border-bottom: 1px solid #eceff1;
  }
  tr td.body {
    font-weight: 600;
  }
  tr td {
    border-bottom: 1px solid #eceff1;
    text-align: center;
    font-size: 14px;
    padding: 12px 4px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
  }
  tr td:first-child {
    padding: 8px 0 8px 16px;
    text-align: left;
  }
  tr.SLA td.tym {
    background-image: url('../images/table/SLA.png');
  }
  tr.SPA td.tym {
    background-image: url('../images/table/SPA.png');
  }
  tr.JAB td.tym {
    background-image: url('../images/table/JAB.png');
  }
  tr.SLO td.tym {
    background-image: url('../images/table/SLO.png');
  }
  tr.LIB td.tym {
    background-image: url('../images/table/LIB.png');
  }
  tr.PLZ td.tym {
    background-image: url('../images/table/PLZ.png');
  }
  tr.OLO td.tym {
    background-image: url('../images/table/OLO.png');
  }
  tr.PCE td.tym {
    background-image: url('../images/table/PCE.png');
  }
  tr.OVA td.tym {
    background-image: url('../images/table/OVA.png');
  }
  tr.CEB td.tym {
    background-image: url('../images/table/CEB.png');
  }
  tr.BOH td.tym {
    background-image: url('../images/table/BOH.png');
  }
  tr.ZLN td.tym {
    background-image: url('../images/table/ZLN.png');
  }
  tr.TEP td.tym {
    background-image: url('../images/table/TEP.png');
  }
  tr.MBL td.tym {
    background-image: url('../images/table/MBL.png');
  }
  tr.BNO td.tym {
    background-image: url('../images/table/BNO.png');
  }
  tr.OPA td.tym {
    background-image: url('../images/table/OPA.png');
  }
  tr.PRI td.tym {
    background-image: url('../images/table/PRI.png');
  }
  tr.KAR td.tym {
    background-image: url('../images/table/KAR.png');
  }
}
.tabl__subtitle {
  margin: 20px 0;
  font-size: 20px;
  line-height: 28px;
  color: #121619;
  text-transform: uppercase;
}
.tabl__list {
  li {
    margin-bottom: 5px;
  }
  span {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-left: 3px;
  }
}
// tabulka pageend ----------------------
//gallerie --------------------------
.main.gallery-page {
  .main__content {
    margin-top: 41px;
  }
}
.archive-article {
  width: 100%;
  display: block;
  .archiv__item {
    display: flex;
  }
}

/// gallerie end ----------------------------

// tv-page
.tv-page {
  .select__redirect {
    height: 40px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1366px;
  }
}
.tv-page__inner {
  margin-top: 41px;
}
.video__bg {
  width: 100%;
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.video__play {
  position: relative;
  z-index: 5;
  .play {
    border: none;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $yellow;
    &:focus {
      outline: 0;
      border: 1px solid #82afdd;
      box-shadow: 0 0 0 3px rgba(210deg, 76%, 57%, 0.5);
    }
    &::before {
      content: '';
      display: inline-block;
      position: relative;
      top: 3px;
      left: 3px;
      border-style: solid;
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent $blue;
    }
  }
}

.video__inner {
  display: flex;
  margin-left: -10px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  .pagination {
    margin-left: 10px;
  }
}
.video__box {
  flex: 0 0 33.333%;
}
.video__info {
  display: flex;
  margin-bottom: 5px;
  .datum {
    padding: 0 10px;
    width: auto;
    border-radius: 0;
    border-radius: 0 3px 3px 0px;
  }
  .info {
    border-radius: 3px 0 0 3px;
    background-color: #000;
    color: #fff;
    align-items: center;
    font-size: 12px;
    padding: 0 10px;
    display: flex;
  }
}

.video__item {
  padding: 0 10px;
  h3 {
    text-transform: uppercase;
    color: #052291;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #121619;
    margin-bottom: 32px;
  }
}
// tv-page end ----------------

// player
.main-video {
  margin-bottom: 50px;
  max-width: 1366px;
  &__box {
    margin-bottom: 20px;
  }
  h2 {
    text-transform: uppercase;
    color: #052291;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 10px;
  }
}
.jw-title.jw-reset-text {
  padding-left: 60px;
  padding-top: 25px;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/svg/logo.svg');
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
#botr_fzrQeqcU_AuJ7dosR_div .jw-display-icon-container .jw-button-color {
  background-color: $yellow;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-inline:not(.jw-text-live),
.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume {
  color: $blue;
}

.jw-breakpoint-7 .jw-settings-menu {
  bottom: 94px !important;
}
.jw-breakpoint-7 .jw-controlbar .jw-button-container {
  padding: 0 48px 0px !important;
}

///statistiky
.main.statistiky {
  .main__content {
    margin-top: 41px;
  }
  .form {
    display: flex;
    padding-bottom: 10px;
  }
  .subtitle {
    margin-right: 20px;
  }
}
.statistiky__menu {
  margin-bottom: 20px;
  ul {
    display: flex;
    margin-left: -5px;
    flex-wrap: wrap;
  }
  li {
    margin: 0 6px 6px;
    .active {
      background-color: $yellow;
      color: $blue;
      &:hover {
        background-color: $yellow;
        color: #fff;
      }
    }
    a,
    span {
      padding: 0 10px;
      height: 33px;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      color: black;
      transition: all 0.6s;
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      &:hover {
        background-color: $gray;
        color: #fff;
      }
    }
  }
}

.statistiky__tabs {
  margin-left: -6px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dde1e6;
  display: flex;
  .statistiky__tab {
    margin: 0 6px;
    a {
      font-size: 18px;
      color: #878d96;
      font-family: 'Barlow', sans-serif;
      font-weight: 400;
      margin-left: 8px;
      text-decoration: underline;
      line-height: 28px;
    }
  }
  .statistiky__tab.active {
    a {
      text-decoration: none;
      font-weight: 600;
    }
  }
}
.statistiky__content {
  display: none;
}
.statistiky__content.tab-active {
  display: block;
}

.real-tabl__inner {
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 896px;
    tr th {
      font-family: 'Barlow', sans-serif;
      background: #eceff1;
      font-size: 16px;
      line-height: 1.57;
      font-weight: 600;
      text-align-last: left;
      color: #05090c;
      border-bottom: 1px solid #eceff1;
      &:first-child {
        padding: 8px 0 8px 16px;
      }
    }
    tr td {
      border-bottom: 1px solid #eceff1;
      text-align: left;
      font-size: 14px;
      padding: 12px 4px;
      font-weight: 400;
      font-family: 'Barlow', sans-serif;
      &:first-child {
        padding: 8px 0 8px 16px;
      }
    }
  }
}
.soupiska-table {
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    tr th:first-child {
      padding: 8px 0 8px 16px;
    }
    tr th,
    tr th a {
      font-family: 'Barlow', sans-serif;
      background: #eceff1;
      font-size: 14px;
      line-height: 1.57;
      font-weight: 600;
      text-align: center;
      color: #05090c;
      padding: 0;
      border-bottom: 1px solid #eceff1;
    }
    tr td {
      border-bottom: 1px solid #eceff1;
      text-align: center;
      font-size: 14px;
      padding: 12px 4px;
      font-weight: 400;
      font-family: 'Barlow', sans-serif;
    }
    tr td:first-child {
      padding: 8px 0 8px 16px;
      text-align: left;
      width: 70px;
    }
    tr th:first-child {
      padding: 8px 0 8px 16px;
      text-align: left;
      width: 70px;
    }
    tr td.name,
    tr th.name {
      text-align: left;
    }
  }
}
/// shop
.shop {
  .main__content {
    margin-top: 41px;
  }
}

.shop__input {
  margin-bottom: 16px;
  label {
    font-size: 12px;
    line-height: 18px;
    color: #878d96;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f4f8;
    margin-top: 8px;
    box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    border: 1px solid #dde1e6;
    border-radius: 2px;
    padding: 0 16px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #121619;
    &::placeholder {
      font-family: 'Barlow', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #121619;
    }
  }
  .select__platba {
    background-color: #f2f4f8;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    border: 1px solid #dde1e6;
    border-radius: 2px;
    margin-top: 7px;
    height: 40px;
    .jq-selectbox__dropdown {
      color: #121619;
      top: 40px;
      box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    }
    .jq-selectbox__select-text {
      text-transform: capitalize;
      color: #121619;
      &::after {
        content: '';
        width: 1px;
        height: 39px;
        background-color: #dde1e6;
        right: 40px;
        top: 0;
        position: absolute;
      }
      &::before {
        transform: rotate(90deg);
        height: 10px;
        width: 7px;
        top: 14px;
        right: 16px;
        background-image: url('../images/svg/chevron-black.svg');
      }
    }
  }
}
.shop__checkbox {
  margin-bottom: 16px;
  label {
    font-size: 12px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .shop__check {
    margin-right: 8px;
    background-color: #f2f4f8;
    box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    border: 1px solid #dde1e6;
    border-radius: 2px;
    height: 16px;
    width: 16px;
    &.checked {
      background-color: $blue;
      .jq-checkbox__div {
        margin: 3px auto 0;
        width: 8px;
        height: 8px;
        background-image: url('../images/svg/check-solid.svg');
      }
    }
    &.focused {
      border: 1px solid $blue;
    }
  }
}
.objednat {
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $blue;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(2, 13, 56, 0) 50%, rgba(2, 13, 56, 0.08)),
    linear-gradient(to bottom, (#ffec00), (#ffec00));
}
.shop__form {
  margin-bottom: 32px;
}
.cart {
  .aside__title {
    margin-bottom: 8px;
  }
  p {
    text-transform: uppercase;
    font-size: 12px;
    color: #878d96;
    margin-bottom: 0;
  }
  div {
    font-size: 20px;
    line-height: 28px;
    color: #121619;
  }
  &__row {
    border-bottom: 1px solid #dde1e6;
    padding-left: 16px;
    padding: 4px 16px 8px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 8px;
    }
  }
  .cart__cena {
    font-size: 32px;
    line-height: 40px;
  }
}
.smazat {
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(2, 13, 56, 0) 50%, rgba(2, 13, 56, 0.08)),
    linear-gradient(to bottom, #ce0e2d, #ce0e2d);
  border-radius: 2px;
  border: none;
  color: #fff;
  margin-top: 8px;
}

// shop inner
.shop__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}
.shop__box {
  flex: 0 0 33.3333%;
  margin-bottom: 40px;
}
.shop__product {
  padding-left: 40px;
}
.shop__top {
  margin-bottom: 15px;
  width: 100%;
  &-img {
    width: 100%;
    height: 259px;
    margin-bottom: 7px;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
    color: $gray;
  }
}

.product__input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  border-top: 1px solid #dde1e6;
  border-bottom: 1px solid #dde1e6;
  .counter__btn {
    width: 0;
    border: none;
    outline: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: block;
    padding: 0;
    margin: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .counter__value {
    max-width: 60px;
    text-align: center;
    border: none;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
  }
}
.product__form {
  .velikost {
    margin-bottom: 9px;
    background-color: #f2f4f8;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    border: 1px solid #dde1e6;
    border-radius: 2px;
    margin-top: 7px;
    height: 40px;
    .jq-selectbox__dropdown {
      color: #121619;
      top: 40px;
      box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
    }
    .jq-selectbox__select-text {
      text-transform: capitalize;
      color: #121619;
      &::after {
        content: '';
        width: 1px;
        height: 39px;
        background-color: #dde1e6;
        right: 40px;
        top: 0;
        position: absolute;
      }
      &::before {
        transform: rotate(90deg);
        height: 10px;
        width: 7px;
        top: 14px;
        right: 16px;
        background-image: url('../images/svg/chevron-black.svg');
      }
    }
  }
}
/// responsive  -----***-----------------
@import 'media';
