@import 'vars';
@import 'global';
@import 'header';
@import 'footer';
@import 'top';
@import 'zapasy';
@import 'clanky';
@import 'partners';
@import 'media';
@import 'aside';
@import 'a-tym';

/// default style

///////// na controlu

.main__img {
  width: 100%;
  margin-bottom: 33px;
  height: 596px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// article

.arcticle__video {
  max-width: 784px;
  width: 100%;
  height: 522px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 32px;
}
.article__title-bottom {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.article__title-descr {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.main__info {
  border-top: 1px solid #dde1e6;
  width: 100%;
  display: flex;
  padding-top: 33px;
  font-size: 14px;
  @include Barlow;
  line-height: 22px;
}

.main__datum {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 16px;
    background-image: url('../images/svg/calendar.svg');
  }
}
.main__info-item {
  position: relative;
  padding-left: 24px;
  margin-right: 16px;
}
.main__user {
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    top: 2px;
    background-image: url('../images/svg/user.svg');
  }
}
.main__fotograf {
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 14px;
    background-image: url('../images/svg/camera.svg');
  }
}

// zapas-page
.zapas-page__box {
  border: 1px solid #dde1e6;
  padding-top: 32px;
  padding: 32px;
  text-align: center;
  margin-bottom: 32px;
  &-title {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &-logos {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  &-logo {
    height: 96px;
    width: 96px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-team {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
  }
  &-result {
    margin-top: 8px;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 32px;
  }
  &-info.zapas-page__box-info--bordered {
    border-top: 1px solid #dde1e6;
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 16px;
  }
  &-info {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    @include Barlow;
    padding-top: 16px;
    span {
      font-weight: 700;
    }
  }
}
.zapas-page__box-logo + .zapas-page__box-logo {
  margin-left: 8px;
}
.gallery {
  margin-bottom: 27px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
  }
  a {
    width: 193px;
    height: 193px;
    margin-bottom: 4px;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// responsive

@media (max-width: 883px) {
  .main__img {
    height: 440px;
  }
  .gallery__inner {
    justify-content: center;
    a {
      margin: 5px;
    }
  }
}

@media (max-width: 620px) {
  .main__img {
    height: 350px;
  }
  .arcticle__video {
    height: 360px;
  }
}
@media (max-width: 480px) {
  .gallery__inner a {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 420px) {
  .main__img {
    height: 300px;
  }

  .arcticle__video {
    height: 270px;
  }
}
@media (max-width: 360px) {
  .main__info {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
  .main__info-item {
    margin-bottom: 5px;
  }
}
